body{
    background: url('https://i.pinimg.com/564x/0a/a8/bf/0aa8bfa73e2f93d3816b75bbd1b4a95a.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}

/* form to add habit */
#add-habit-form{
    /* display: none; */
    position:absolute;
    top: auto;
    display: none;
    left:25%;
    background-color: rgb(216, 223, 230);
    z-index: 1;
    width: 50%;
    padding: 2% !important;
    border-radius: 20px !important;
    box-shadow: 20px;

    
}
/* add habbits button */
#btn-add-habit{
    position: absolute;
    bottom:500px;
    left: 250px;
    z-index: 1;
    font-size: 23px;
    position:static;

   

}
/* streak button */
#btn-streak{
    position: absolute;
    bottom:500px;
    right: 250px;
    z-index: 1;
    font-size: 23px;
    position:static;
  
   
}
/* styling box */
#box{
    margin-top: 3%;
    padding: 3% !important;
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 20px !important;

}

/* box containing habits */
#box ul{
    max-height: 60vh;
    overflow-y:auto;
}
.card {
    border-radius: 20px;
    display: flex;
    background-color: rgb(138, 255, 127);
    border: 2px solid green !important;
}
.card-header  {
    border-bottom: 2px solid green !important;
}
.card-footer {
    border-top: 2px solid green !important;
}
.card-title {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
}
.card-descript {
    font-size: 23px !important; 
    color: green;
    font-weight: bold;
}
.card-details {
    font-size: 18px;
    font-weight: 500;
}
.btn-change-status {
    position: relative;
    right: 30px;
}
.btn-delete {
    position: relative;
    left : 30px;
}
/* list iems showing habits */
#habits li{
    display: flex;
    flex-direction: column;
    display: inline-block;
    padding: 40px;
    width: 400px;
    position: relative;
    left:100px;
    

}
/* info for a particular habit */
.habit-info{
    display: flex;
    justify-content: space-between;
}
.habit-info h4{
    text-transform: capitalize;
    margin: 0;
}
/* the streak for a particular habit in list */
.habit-streak{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.habit-streak p{
    margin: 0;
}
.checked{
    text-decoration: line-through;
}
/* Streak button */
#streak-container{
    display: inline-block;
}
.list-group {
    display: flex;
    flex-direction: row !important; 
    max-width: 1000px;
    flex-wrap: wrap;
    background-color: cornsilk;
  
}
.list-container {
    width: 1200px;
    display: inline-block;
    
}